<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SHOCKAdHoc.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
				<key>dateExpires</key>
				<string>2020/7/24</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ChameleonFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaSecurity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBRetainCycleDetector.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GCDWebServer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KVOController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MLeaksFinder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Objective_LevelDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>QMUIKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TMFileManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TMFileSystem.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TMPermissionKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TMRSA.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WebViewJavascriptBridge.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ZipArchive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3F72D7FA4EA1E3CBD3D807FBD3BBD7EF8A4F9D37</string>
						<key>dateExpires</key>
						<string>2020/7/24</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>3UXU62ALHJ.com.shock.shock.adhoc.SHOCKNotificationService</string>
						<key>com.apple.developer.team-identifier</key>
						<string>3UXU62ALHJ</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.shock.shock</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>SHOCKNotificationService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>61360da8-3102-4774-9590-0c35789f26da</string>
						<key>name</key>
						<string>ShockNotificationServiceAdHoc</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3UXU62ALHJ</string>
						<key>name</key>
						<string>Shenzhen Chongchao Technology Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3UXU62ALHJ.com.shock.shock.adhoc</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.authentication-services.autofill-credential-provider</key>
				<true/>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>3UXU62ALHJ</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.shock.shock</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SHOCKAdHoc.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ec06e433-4974-4053-aba7-c772f37c7dda</string>
				<key>name</key>
				<string>ShockAdHoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3UXU62ALHJ</string>
				<key>name</key>
				<string>Shenzhen Chongchao Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
